oracledb flask ldap3 gunicorn openpyxl



sudo systemctl daemon-reload
sudo systemctl stop algarsql
sudo systemctl start algarsql


/etc/systemd/system/algarsql.service

[Unit]
Description=AlgarSQL instance for my Flask app
After=network-online.target
Wants=network-online.target

[Service]
User=algarsql
Group=algarsql
EnvironmentFile=/algarsql/app.env
WorkingDirectory=/algarsql

ExecStart=/opt/python/Python-3.12.3/bin/gunicorn \
  --workers 1 \
  --threads 4 \
  --timeout 0 \
  --bind 10.51.31.47:8080 \
  app:app

Restart=always
RestartSec=3

LimitNOFILE=65535

StandardOutput=journal
StandardError=journal

PrivateTmp=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target










[Unit]
Description=Gunicorn Flask App (algarsql)
After=network.target

[Service]
User=algarsql
Group=algarsql
WorkingDirectory=/algarsql

ExecStart=/opt/python/Python-3.12.3/bin/gunicorn \
  --workers 1 \
  --threads 4 \
  --timeout 0 \
  --bind 10.51.31.47:8080 \
  app:app

Restart=always
RestartSec=3

# Logs
StandardOutput=journal
StandardError=journal

# Evita problemas de limite
LimitNOFILE=4096

[Install]
WantedBy=multi-user.target
